<div class="main_codesf">
  <div class="container">
    
  <div>
    
  </div>

  </div>
</div>

<aside class="codesf_update">
  <div class="container">
    <p>
      <i class="fa fa-support"></i> Want To Help San Francisco? Good, we could use your help.
    </p>
  </div>
</aside>

<div class="container main_columns">
  <div class="row">
    
    <div class="col-md-3">
      <section class="main_section center">
        <a href="#">
          <p class="section_icon">
            <i class="fa fa-code"></i>
          </p>
          <h2>Coders</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
        </a>
      </section>
    </div>

    <div class="col-md-3">
      <section class="main_section center">
        <a href="#">
          <p class="section_icon">
            <i class="fa fa-desktop"></i>
          </p>
          <h2>Designers</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
        </a>
      </section>
    </div>

    <div class="col-md-3">
      <section class="main_section center">
        <a href="#">
          <p class="section_icon">
            <i class="fa fa-paper-plane"></i>
          </p>
          <h2>Hustlers</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
        </a>
      </section>
    </div>

    <div class="col-md-3">
      <section class="main_section center">
        <a href="#">
          <p class="section_icon">
            <i class="fa fa-flag"></i>
          </p>
          <h2>Civic Enthusiasts</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
        </a>
      </section>
    </div>


  </div>
</div>